<!-- {乘客信息 -->
            <div class="passenger-info">
                <!-- 常用乘客人 --> 
                <div class="lebel-tit1">乘车人</div>              
                <div class="floatr">
                    <div class="pasr-detail">
                        <!-- 删除按钮 -->
                        <span class="button-del"><a class="g-ico02 g-ico-del" title="删除" rel="del" href="#"></a></span>
                        <span class="lebel-title name">姓名<i class="color01">*</i></span>
                        <div class="q_inpbox name-ipt q_inpbox_err">
                            <div class="p_inp_tw">
                                <div class="p_inp_tc">
                                    <span class="p_tips_ico"><i class="ico_err_s"></i></span>
                                    <span class="js_content p_tips_txt">不能为空</span>
                                </div>
                            </div>
                            <input type="text" name="pName" autocomplete="off" value="" data-jvalid-ruler="empty name afterCh1 afterCh2 afterEn1 afterEn2 afterEn3 toolong" class="inp_txt" placeholder="与证件姓名一致">
                        </div>
                        <span class="lebel-title">身份证号码<i class="color01">*</i></span>
                        
                        <div class="q_inpbox identity q_inpbox_err">
                            <div class="p_inp_tw">
                                <div class="p_inp_tc">
                                    <span class="p_tips_ico"><i class="ico_err_s"></i></span>
                                    <span class="js_content p_tips_txt">不能为空</span>
                                </div>
                            </div>
                            <input type="text" name="pCertNo" autocomplete="off" value="" data-jvalid-ruler="empty ID" class="inp_txt" placeholder="与证件号码保持一致">
                        </div>                   
                    </div>
                    <div class="pasr-detail">
                        <!-- 删除按钮 -->
                        <span class="button-del"><a class="g-ico02 g-ico-del" title="删除" rel="del" href="#"></a></span>
                        <span class="lebel-title name">姓名<i class="color01">*</i></span>
                        <div class="q_inpbox name-ipt q_inpbox_err">
                            <div class="p_inp_tw">
                                <div class="p_inp_tc">
                                    <span class="p_tips_ico"><i class="ico_err_s"></i></span>
                                    <span class="js_content p_tips_txt">不能为空</span>
                                </div>
                            </div>
                            <input type="text" name="pName" autocomplete="off" value="" data-jvalid-ruler="empty name afterCh1 afterCh2 afterEn1 afterEn2 afterEn3 toolong" class="inp_txt" placeholder="与证件姓名一致">
                        </div>
                        <span class="lebel-title">身份证号码<i class="color01">*</i></span>
                        
                        <div class="q_inpbox identity q_inpbox_err">
                            <div class="p_inp_tw">
                                <div class="p_inp_tc">
                                    <span class="p_tips_ico"><i class="ico_err_s"></i></span>
                                    <span class="js_content p_tips_txt">不能为空</span>
                                </div>
                            </div>
                            <input type="text" name="pCertNo" autocomplete="off" value="" data-jvalid-ruler="empty ID" class="inp_txt" placeholder="与证件号码保持一致">
                        </div>                   
                    </div>
                </div>
                <div class="clear"></div>
                
                <!-- 增加 乘客-->
                <div class="addperson">
                    <div class=" g-clear">                        
                        <!--  当不可点击的时候 class="g-btn btn-gray" -->
                        <button id="js-btn-add" class="g-btn02 btn-blue" style="display: inline-block;"><i class="num">+</i>新增乘客</button>
                    </div>
                </div>
            </div>
            <!-- 乘客信息} -->